{% extends "base.html"%}

{% block title %}
About Us
{% endblock %}

{% block content %}

<!-- about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="about_taital_main">
               <div class="about_taital">About Us</div>
               <p class="about_text">Un hombre llamado Alejandro, apasionado por los libros desde su infancia. Después de años de trabajar en la industria editorial, decidió seguir su sueño de abrir su propia librería. Con determinación y visión, Alejandro transformó un antiguo edificio en el corazón de la ciudad en un refugio para los amantes de la lectura. Ahora quiere empezar con un nuevo mercado y es la venta online.</p>
               
               <div class="read_bt"><a href="{{url_for('books')}}">Read More</a></div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="about_img"><img src="{{ url_for('static', filename='images/about-img.png')}}"></div>
         </div>
      </div>
   </div>
</div>
<!-- about section end -->

{% endblock %}